[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Detection and prevention of propagation of fake news using blockchain in android application
[access "refs/*"]
	owner = group user/Jayant Rane (jayantrane)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jayant Rane (jayantrane)
	label-Verified = -1..+1 group user/Jayant Rane (jayantrane)
	push = group user/Jayant Rane (jayantrane)
	read = group user/Jayant Rane (jayantrane)
	rebase = group user/Jayant Rane (jayantrane)
	removeReviewer = group user/Jayant Rane (jayantrane)
	submit = group user/Jayant Rane (jayantrane)
[access "refs/heads/*"]
	create = group user/Jayant Rane (jayantrane)
	push = +force group user/Jayant Rane (jayantrane)
	pushMerge = group user/Jayant Rane (jayantrane)
	read = group user/Jayant Rane (jayantrane)
[access "refs/tags/*"]
	push = group user/Jayant Rane (jayantrane)
	push = +force group user/Jayant Rane (jayantrane)
